/* EbookList.css */
.ebook-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.ebook-list {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.ebook-description {
  width: 55%;
  padding: 10px;
}

.ebook-description div {
  margin-bottom: 20px;
}

.ebook-description h3 {
  margin: 0 0 10px;
}

