.text-multimedia {
    padding: 2rem;
    width: 100%;
    margin: 40px auto;
    background-color: #f9f9f9;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
  }
  
  .text-multimedia p {
    margin-bottom: 1rem; /* Adjust the margin between paragraphs */
  }
  